<!DOCTYPE html>
<html lang="en" data-theme="dark">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Tasks On Demand{% endblock %}</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.23/dist/full.min.css" rel="stylesheet" type="text/css" />
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>
</head>

<body class="p-8">
    <div class="mx-auto max-w-7xl">
    {% block content %}
    {% endblock %}
    </div>

    {% block scripts %}
    {% endblock %}
    <script>
    document.addEventListener('alpine:init', () => {
        Alpine.store('root', {
            on: false,
            toggle() {
                console.log(this.on)
                this.on = ! this.on
            }
        })
    })
    </script>

</body>

</html>